# Understanding the variables

Think of a variable as a name attached to a particular object. 

In Python, variables need not be declared or defined in advance, as is the case in many other programming languages.

To create a variable, you just assign it a value and then start using it. 

Assignment is done with a single equals sign (=):

In [35]:
x = 5

y = 3

In [ ]:
This is interpreted by python as "x is assigned the value 5 and y is assigned the value 3".  
Once this is done, x can be used in a statement or expression, and its value will be substituted:

In [36]:
x+y

8

In [37]:
print(x)
print(y)

5
3

In [38]:
print(x+y)

8

## Rules for declaring the variables in Python

### 1. A variable name must start with a letter or the underscore character.  
   No name spaces while declaring the variable name.

In [6]:
first name = "suresh"
print(first name)  # SPACING IS NOT ALLOWED WHILE NAMING A VARIABLE

SyntaxError: invalid syntax (<ipython-input-6-29b72b591939>, line 1)

In [7]:
first_name = "suresh"
print(first_name)

suresh

In [8]:
first_name = "Suresh"
print(first_name)

Suresh

### 2. A variable name cannot start with a number

In [9]:
1name = 'suresh'
print(1name)

SyntaxError: invalid syntax (<ipython-input-9-29c193288e81>, line 1)

In [10]:
name1 = 'suresh'

print(name1)

suresh

### 3. A variable name can only contain alpha-numeric characters and underscores (A-Z, 0-9 and _).  
   No special characters should be used while declaring the variable name i.e., !@Â£

In [11]:
@name = 'suresh'
print(@name)

SyntaxError: invalid syntax (<ipython-input-11-822f91a42444>, line 1)

In [12]:
name@ = 'suresh'
print(name@)

SyntaxError: invalid syntax (<ipython-input-12-45595d759989>, line 1)

In [18]:
na@me = 'suresh'
print(na@me)

SyntaxError: can't assign to operator (<ipython-input-18-8f326d8e6dbc>, line 1)

### 4. Variable names are case-sensitive

In [23]:
first_name = 'suresh'
First_name = 'trinity'
FIRST_NAME = 'simi'

In [24]:
print(first_name)
print(First_name)
print(FIRST_NAME)

suresh
trinity
simi

# Introduction to datatypes in python

Data types in python:

    1. string
    2. list
    3. tuple
    4. dictionary

Classification of data types:
    
    1. mutable datatype 
    
        We will have access to alter, modify or reassign the data
    
    2. immutable datatype
    
        We will not have access to alter / modify / reassign the data

##  String data type

A string is a series of characters:

String is classified as an immutable data type.

How to define a string ?

    3 possible ways.
    
        1. single quotes
        2. double quotes
        3. triple quotes

In [25]:
name1 = 'suresh'
print(name1)

suresh

In [26]:
name2 = "suresh"
print(name2)

suresh

In [40]:
name3 = """suresh"""
print(name3)

suresh

combination of quotes - Output contains inner quotes as well.

In [29]:
name3 = "'suresh'"
print(name3)

'suresh'

In [30]:
name4 = '"suresh"'
print(name4)

"suresh"

However, if you use two double quotes and one sigle quotes, the quotes wont appear in the output.

In [31]:
name5 = ""'suresh'""
print(name5)

suresh

##  String methods

#####  Finding the type of string.  Use type() command

In [32]:
type(name5)

str

In [33]:
type(name4)

str

In [44]:
full_name = 'suresh kumar'

print(full_name)

suresh kumar

In the above example, name is written in small case.

Requirement:  we want the name in title case??

In [3]:
full_name = 'suresh kumar'

print(full_name.title())

Suresh Kumar

Requirement: We want the full name in upper case

In [4]:
print(full_name.upper())

SURESH KUMAR

Requirement: We want the full name in lower case

In [6]:
print(full_name.lower())

suresh kumar