## INTRODUCTION TO SLICING LISTS:

In [12]:
students = ['suresh', 'amit', 'vijayasri', 'swarna', 'lakshmi', 'srinivas', 'satish', 'ramya']

In [13]:
print(students)

['suresh', 'amit', 'vijayasri', 'swarna', 'lakshmi', 'srinivas', 'satish', 'ramya']

In [14]:
type(students)

list

###  create a small group of 2 people each

In [53]:
print(students[3]) # To access an individual from the list, the syntax is print(student[no. in the list])

swarna

In [ ]:
# last value is always exclusive

In [16]:
print(students[0:2])

['suresh', 'amit']

In [7]:
print(students[2:4])

['vijayasri', 'swarna']

In [9]:
print(students[4:6])

['lakshmi', 'srinivas']

In [17]:
print(students[6:8])

['satish', 'ramya']

##### suppose, we want the range from one to 5

In [34]:
print(students[0:4])

['suresh', 'amit', 'vijayasri', 'swarna']

In [18]:
print(students)

['suresh', 'amit', 'vijayasri', 'swarna', 'lakshmi', 'srinivas', 'satish', 'ramya']

### Requirement: Need alternate students in the printed list

#### General syntax of slicing ---> startpoint:endpoint:stepcount

In [19]:
print(students[0:7:2])

['suresh', 'vijayasri', 'lakshmi', 'satish']

##### suppose we want every third student

In [20]:
print(students[0:7:3])

['suresh', 'swarna', 'satish']

In [49]:
print (students[4:])  # if the end point is left blank, then it will assume that we want the list till end

['lakshmi', 'srinivas', 'satish', 'ramya']

In [36]:
print(students[0:7:4])

['suresh', 'lakshmi']

##### Positive indexing ---> 0,1,.....

##### Negative indexing ----> -1,-2,-3.........

### Introduction to -ve indexing

In [21]:
print(students)

['suresh', 'amit', 'vijayasri', 'swarna', 'lakshmi', 'srinivas', 'satish', 'ramya']

In [22]:
print(students[7])

ramya

In [23]:
print(students[-1])

ramya

##### how to print a list in reverse order by using the indexing.....

In [24]:
print(students)

['suresh', 'amit', 'vijayasri', 'swarna', 'lakshmi', 'srinivas', 'satish', 'ramya']

In [26]:
print(students[::-1]) #startpoint and endpoint are blank.  Stepcount is -1.  So, its going in reverse order

['ramya', 'satish', 'srinivas', 'lakshmi', 'swarna', 'vijayasri', 'amit', 'suresh']

In [50]:
print(students[-3::-1]) # startpoint is the 3rd item in the reverse order i.e., -3

['srinivas', 'lakshmi', 'swarna', 'vijayasri', 'amit', 'suresh']

In [52]:
print(students[::-3]) # every third person from the list in reverse order

['ramya', 'lakshmi', 'amit']

### RANGE FUNCTION

In [ ]:
# last value is always exclusive --->
value is tempvar (temporary variable)

range ---> function, startpoint, endpoint, stepcount

In [27]:
for value in range(0,20):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# we are not getting 20 but only 19 because the last value is always excclusive.

##### Req: want to have 30 numbers in the list

In [29]:
numbers = list(range(0,31))

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

##### Req: Print list of even numbers till 30.

In [32]:
even_numbers = list(range(2,31,2))

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [33]:
even_numbers = list(range(2,101,2))

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

##### Req: Print list of odd numbers till 30

In [37]:
odd_numbers = list(range(1,31,2))

In [38]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [39]:
numbers = list(range(0,100))

In [40]:
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

##### Req: print list of every 5th number

In [45]:
fifth_number = list(range(0,100,5))

In [46]:
print(fifth_number)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [15]:
twentyfirst_number = list(range(0,500,21))

In [16]:
print(twentyfirst_number)

[0, 21, 42, 63, 84, 105, 126, 147, 168, 189, 210, 231, 252, 273, 294, 315, 336, 357, 378, 399, 420, 441, 462, 483]